.square{
	width:200px;
	height: 200px;
	border: solid black;
}

.grid{
	display:flex;
	flex-flow: row wrap;
	width:618px;
	height:618px;
	justify-content: center;
	align-content: center;
}

.mole{
	background-image: url('mole.jpg');
	background-size: cover;
}